# Ignore all files using an opt-inn approach
*

# Add .gitignore and .gitattributes
!.gitignore
!.gitattributes

# Add license
!LICENSE.txt

# Add todo list
!ToDo.txt

# Add md files
!*.md

# Add fsx files
!*.fsx

# Add command and batch files
!*.cmd
!*.sh

# ignore release and publish nuget commands
release.cmd
publishnuget.cmd

# Add Docker files
!Dockerfile
!.dockerignore

# Add paket 
!/.paket/
!/.paket/paket.exe
!/.paket/*.targets

# Add dependencies file
!paket.dependencies
!paket.lock
!paket.references
!paket.template

# Add yml files to ci on appveyor and travis
!appveyor.yml
!.travis.yml

# Add solution file
!*.sln

# Add fsharp project files
!*.fsproj

# Add configurarion files
!*app.config

# Add fsharp source files
!*.fs
!*.fsx

# Add source files
!/scripts/
!/src/
!/src/Informedica.GenUtils.Lib/
!/src/Informedica.GenUtils.Lib/BCL/
!/src/Informedica.GenUtils.Lib/Scripts/
!/src/Informedica.GenUnits.Lib/
!/src/Informedica.GenUnits.Lib/Scripts/
!/src/Informedica.GenProduct.Lib/
!/src/Informedica.GenProduct.Lib/Scripts/
!/src/Informedica.GenForm.Lib/
!/src/Informedica.GenForm.Lib/Utils/
!/src/Informedica.GenForm.Lib/Scripts/
!/src/Informedica.GenForm.Service/
!/src/Informedica.GenForm.Service/Scripts/

# Add test files
!/tests/
!/tests/Informedica.GenUtils.Tests/
!/tests/Informedica.GenUtils.Tests/Scripts/
!/tests/Informedica.GenUnits.Tests/
!/tests/Informedica.GenUnits.Tests/Scripts/
!/tests/Informedica.GenProduct.Tests/
!/tests/Informedica.GenProduct.Tests/Scripts/
!/tests/Informedica.GenForm.Lib.Tests/
!/tests/Informedica.GenForm.Lib.Tests/Scripts/
!/tests/Informedica.GenForm.Service.Tests/
!/tests/Informedica.GenForm.Service.Tests/Scripts/

# Ignore generated documentation files
/docs/content/**/*.md

# Add documentation
!/docs/
!/docs/content/
!/docs/tools/
!/docs/tools/templates/
!/docs/tools/templates/*.cshtml
!/docs/files/
!/docs/files/img/
!/docs/files/img/*.png

# data folder and files
!/data/
!/data/zindex/
!/data/formulary/
!/data/formulary/*.csv
!/data/cache/
