redirects force
framework: auto-detect
generate_load_scripts: true
storage: none

source https://api.nuget.org/v3/index.json

nuget MathNet.Numerics.FSharp
nuget Expecto
nuget FsCheck
nuget Expecto.FsCheck

nuget Newtonsoft.Json
# nuget FSharp.Data
# nuget FSharpComposableQuery prerelease