group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core
    nuget Saturn
    nuget Thoth.Json.Giraffe
	nuget MathNet.Numerics.FSharp

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
	nuget Fable.Elmish.Browser
    nuget Thoth.Fetch ~> 1
    nuget Fable.React ~> 5
	nuget Fable.MaterialUI

group Library
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

	nuget Markdig
	nuget MathNet.Numerics.FSharp
	nuget Newtonsoft.Json
	nuget Aether
	nuget FSharp.Quotations.Evaluator

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem

group Test
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

	nuget Expecto
	nuget Expecto.BenchmarkDotNet
	nuget Expecto.FsCheck
	nuget Expecto.Hopac
	nuget FSharp.Quotations.Evaluator
