redirects force
framework: auto-detect
generate_load_scripts: true
storage: none

source https://api.nuget.org/v3/index.json

nuget MathNet.Numerics.FSharp
nuget Argu ~> 4
nuget Expecto
nuget FsCheck
nuget Expecto.FsCheck